<a href="https://colab.research.google.com/github/msayeshasiddikatonny/COnsultation_Fall_2021/blob/main/Nov_03_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# d)18,-27, 36,-45,54,-63

for i in range(2,8):
  if i==7:
     n=9*i*(-1)
     print(n,end='')
  else:#23456
    if i%2==0:
      n=9*i

      print(n,end=',')
    else:

     n=9*i*(-1)

     print(n,end=',')

18,-27,36,-45,54,-63

In [ ]:
# 42649

sum=0
for i in range(1,601):
  if (i%7==0 or i%9==0):
    sum=sum+i
print(sum)

42649

In [ ]:
n= int(input("enter a number:"))
count=0
while n>0:
  n=n//10
  #print("value of n=",n)
  count=count+1
  #print('the count value',count)
print("total count value", count)

enter a number:5643
total count value 4

In [ ]:
number=int(input("enter a value :"))
count=0
while number>0:
    x=num2//10(count-1)
    if number>10:
         print(x, end=",")
    else:
       print(x,end=" ")
       num2=num2%10(count-1)

enter a value :3641

TypeError: ignored

In [ ]:
num=input('enter a number')
lenth=len(num)
num=int(num)
div=10**(lenth-1)
'''
32768 // 10000 = 3
32768 % 10000 = 2768
10000 // 10 = 1000
'''
s=''
while num>0:
   x=num//div
   s+=str(x)+','
   num=num%div
   div=div//10
print(s)
print(s[0:-1])

enter a number2356
2,3,5,6,
2,3,5,6

In [ ]:
num= int(input("Enter number:"))
num1=num
count=0
while (num>0):
    num=num//10#56431 
    count=count+1
count=count-1 
 
while (num1>0):
  if num1>10:
    print(num1//10**(count),end=',') 
  else:
    print(num1//10**(count),end='')
  num1=num1%10**count
  count=count-1#4-1=3

Enter number:56431
5,6,4,3,1

In [ ]:
print(10**4)

10000

In [ ]:
s=0
for i in range(1,7):
  s+=int(input('enter amount: '))

if s%3==0:
  result=(s*3)-s
  print(result)
else:
  s+=100
  print(s)

enter amount: 1
enter amount: 3
enter amount: 5
enter amount: 7
enter amount: 9
enter amount: 5
60

In [ ]:
n=int(input('enter total digit'))
even=0
odd=0

for i in range(1,n+1):
  num=int(input('enter nid digit'))
  if num%2==0:
    even+=num
  else:
    odd+=num
s=''
if even!=0 and odd!=0:
  s="UH"+str(even)+str(odd)
elif even==0 and odd!=0:
  s="UH"+str(odd)+str(odd)
elif even!=0 and odd==0:
  s="UH"+str(even)+str(even)
print(s)

enter total digit10
enter nid digit0
enter nid digit1
enter nid digit6
enter nid digit7
enter nid digit2
enter nid digit4
enter nid digit5
enter nid digit8
enter nid digit9
enter nid digit5
UH2027

In [ ]:
n=int(input())
odd=0
even=0
for i in range(1,n+1): 
    m=int(input())
    if m%2==0:
        even+=m
    else:
        odd+=m

if odd==0:
    print("UH"+str(even)+str(even))
elif even==0:
    print("UH"+str(odd)+str(odd))
else:
    print("UH"+str(even)+str(odd))

10
0
1
6
7
2
4
5
8
9
5
UH2027

In [ ]:
#todo
user_input =int(input(" Enter the number"))
divisor_count =0
for divisor in range(1,user_input+1):

    if(user_input%divisor==0):
        if divisor==user_input:
            print(divisor  )
        else:
            print(divisor , end=" ,")

    divisor_count=divisor_count+1

print("Total", divisor_count , "divisors" , end=" ")

 Enter the number6
1 ,2 ,3 ,6
Total 6 divisors

In [ ]:
 '''
 Write a Python code of a program that adds all numbers that are multiples of either 7 or 9 but not both, up to 600(including 600).

Output: 39814
'''
#Todo
result =0
for num in range(1,601):

    if (num%7==0 and num%9==0):
     pass
    elif (num%7==0 or num%9==0):
            result =result+num

print(result)

39814

In [ ]:
a=int(input("enter a number"))
while a>0:
  if a<10:
    dropout=a % 10
    a=a//10
    print(dropout,end=" ")
  else:
    dropout=a % 10
    a=a//10
    print(dropout,end=",")

enter a number32768
8,6,7,2,3

In [ ]:
a=int(input("enter a number"))
s=''
while a>0:
    dropout=a % 10
    a=a//10
    s+=str(dropout)+','
print(s)
print(s[0:-1])

enter a number32768
8,6,7,2,3,
8,6,7,2,3

In [ ]:
#Todo
Total =0
odd_count =0

for iteration in range(10):

    user_input = int(input(" "))
    if user_input%2==1:
        Total=Total + user_input
        odd_count=odd_count+1

 
Average =Total/odd_count
print(Total , Average)

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10
7.0

In [ ]:
num=int(input())

if num < 4:
    print("Invalid Input")
else:
    if num%2==0:
        for i in range(num):
            for j in range(num):
                if i == 0 or i == num - 1:
                    print("#", end="")
                elif j == (num / 2) - 1 or j == num / 2:#2 3
                    print("#", end="")
                else:
                    print("&", end="")
            print()
    else:
        for i in range(num):
            for j in range(num):
                if i == 0 or i == num - 1:
                    print("#", end="")
                elif j == (num // 2) - 1 or j == num // 2 or j== (num // 2)+1:#234
                    print("#", end="")
                else:
                    print("&", end="")
            print()

7
#######
&&###&&
&&###&&
&&###&&
&&###&&
&&###&&
#######

In [ ]:
n=int(input())


for i in range(1,n+1):
  for j in range(1,n+1):
    print('+',end='')
  print()

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
n=int(input())


for row in range(1,n+1):
  for col in range(1,row+1):
    print(col,end='')
  print()

4
1
12
123
1234

In [ ]:
s='ayesha'
n=int(input('enter num'))
for i in range(1,n+1):
  print(s)

enter num5
ayesha
ayesha
ayesha
ayesha
ayesha

In [ ]:
num= 10
c=1
x=2
while c<=10:
  print(c)
  c+=x

1
3
5
7
9